<footer>
		<div class="left"> 
			<ul class="left2">
				<li><a href="https://www.google.fr/intl/fr/ads/?fg=1">Publicité</a></li>
				<li><a href="https://www.google.fr/services/?fg=1#?modal_active=none">Entreprise</a></li>
				<li><a href="https://www.google.fr/intl/fr/about/">A propos</a></li>
			</ul>
		</div>
		<div class="right"></div>
		<ul class="right2">
			<li><a href="https://www.google.fr/intl/fr/policies/privacy/?fg=1">Confidentialité</a></li>
			<li><a href="https://www.google.fr/intl/fr/policies/terms/regional.html">Conditions</a></li>
			<li><a href="https://www.google.fr/preferences?hl=fr&fg=1">Paramètres</a></li>
		</ul>
	</div>
</footer>