<header>
	<nav class="liens">
		<div class="gmail">
			Gmail
		</div>
		<div class="image">
			Images
		</div>
		<%= image_tag 'logo_menu.jpg', class: "menu" %> 
		<%= image_tag 'bouton_connexion.jpg', class: "connexion" %>
		
		</nav>
	</header>